/* TABLET VIEW */
@media only screen and (max-width:992px) {
.collegeera {
    width: 400px;
  }

  .college-era-dark {
        width: 400px;
  }

.menu-toggle {
  display: flex !important;
}

  .toggle {
    width: 50px;
    height: 50px;
  }

  .nav-links {
  display: none; /* hide by default */
  flex-direction: column;
  background: #FCF8F5;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  gap: 15px;
  text-align: center;
}

  .nav-links.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-style {
display: flex;
flex-direction: column;
gap: 30px;
align-items: center;
padding: 20px;
position: absolute;
width: 100%;
font-size: px;

}




  .main-timeline {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .headline {
  grid-template-columns: 1fr;
  text-align: center;
}

.headline p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

  .container-odd,
  .container-even {
    padding: 25px;
    border-radius: 30px;
  }

  .gallery {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: space-between;
}

/*this affects the individual images themselves (rounded corners etc) */

.gallery-image {
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 30%;
  gap: 20px;
}
  
  section {
    padding: 0 30px;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



  /* about tablet*/

    /* hide center nav links */
  .nav-links {
    display: none;
  }

  /* show hamburger menu */
  .menu-toggle {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  /* keep moon + toggle aligned right */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* slightly smaller name */
  .headername {
    font-size: 18px;
  }

}

/* MOBILE VIEW */
@media only screen and (max-width: 370px) {

  .collegeera {
    width: 250px;
  }

  .college-era-dark {
    width: 250px;
  }


  .main-timeline {
    font-size: 16px;
    letter-spacing: 5px;
    margin: 5px;
  }

  .headername {
    font-size: 16px;
   }

  .headline {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
  }

  .container-odd,
  .container-even {
    padding: 25px;
    border-radius: 30px;
  }

  .gallery {
    flex-direction: column;
    justify-content: center;    
    display:flex;
    width: 100%;
  }

  .gallery-image {
    width: 100%; /* one image per row */
  }

  /* NAVIGATION */

  .menu-toggle {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    align-items: center;
    line-height: 1;
    height: 40px;
  }

  .headline {
    font-size: 14px;
  }

  section {
    padding: 0 30px;
  }

  .nav-links {
  
    flex-direction: column;
    background: #FCF8F5;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    gap: 15px;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }


      .nav-right {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        gap: 15px;
    }

  
}






    
.main-nav-about {
  background-color: #FCF8F5;
  height: 80px;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 14px;
  font-family: 'instrumentalserif';
  position: relative;
}


.nav-links {
  gap: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1px;
}

.me {
  width: 300px;
}

.about-title {
  width: 240px;
}

.about-title-dark {
    width: 240px;
}

.about-paragraphs {
  max-width: 280px;
  font-size: 12px;
  padding: 15px;
}

#faqs .container{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-toggle-about {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    align-items: center;
    line-height: .5;
    height: 20px;
  }

  

.main-timeline {
  font-family: 'maiken', serif;
  font-size: 20px;
  text-align: center;
  margin-top: 60px; /*space below "college era" */
  margin-bottom:60px; /*space above first section */
  color: #FCF8F5;
  letter-spacing: 10px;

}







@media only screen and (max-width:992px) {

  .me {
width: 50%;
  }

.about-content-paragraphs {
width: 50%;
}

.about-wrapper{
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

.about-content-paragraphs{
  align-items:center;
}

.about-title{
  width:350px;
}

.about-title-dark {
    width: 350px;
}

.about-paragraphs{
  max-width:500px;
  width:110%;
  font-size:14px;
}

#faqs .container{
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.faqtitle{
  width:200px;
  margin-bottom:40px;
}

.faq-right{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.question{
  width:90%;
  max-width:600px;
}

.answer{
  width:90%;
  max-width:600px;
  text-align:left;
}

.question {
        width: 90%;
        margin: 0 auto;
    }

    /* FOOTER */

.footer-about{
  flex-direction:column;
  gap:20px;
  text-align:center;
}

.links-about{
  justify-content:center;
}

